[submodule "demos/a-painter"]
	path = demos/a-painter
	url = https://github.com/aframevr/a-painter.git
[submodule "demos/a-blast"]
	path = demos/a-blast
	url = https://github.com/aframevr/a-blast.git
